<template>
  <Container>
    <h1>Shorten a link!</h1>
    <form @submit.prevent="shortenLink">
      <input
        name="link"
        type="text"
        placeholder="Enter a link"
        v-model="link"
        aria-label="Link"
      />
      <button aria-label="Go" type="submit">Go</button>
    </form>
    <Alert v-if="error">{{ error }}</Alert>
    <Loader v-if="loading" />
    <span class="short-link" v-if="shortLink">
      Here's your short link!
      <a :href="fullShortLink" target="_blank" rel="noopener noreferrer">{{
        shortLink
      }}</a>
    </span>
  </Container>
</template>

<script lang="ts">
import Vue from "vue";
import axios from "axios";
import Container from "@/components/Container.vue";
import Loader from "@/components/Loader.vue";
import Alert from "@/components/Alert.vue";

export default Vue.extend({
  name: "ShortenLink",
  components: {
    Container,
    Loader,
    Alert,
  },
  data() {
    return {
      loading: false,
      link: "",
      shortLink: "",
      fullShortLink: "",
      error: "",
    };
  },
  methods: {
    async shortenLink() {
      this.error = "";
      this.loading = true;
      try {
        const res = await axios.get("https://api.shrtco.de/v2/shorten", {
          params: { url: this.link },
        });
        this.shortLink = res.data.result.short_link;
        this.fullShortLink = res.data.result.full_short_link;
        this.link = "";
      } catch (err) {
        this.error = err.response.data.error;
      } finally {
        this.loading = false;
      }
    },
  },
});
</script>

<style scoped lang="scss">
form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}
.short-link {
  font-size: 1.5rem;
  a {
    color: #fff;
  }
}
</style>
