<template>
  <div class="alert"><slot></slot></div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "Alert",
});
</script>

<style scoped lang="scss">
.alert {
  padding: 0.5rem 1rem;
  background-color: $red;
  color: #fff;
  border-radius: 5px;
}
</style>
