<template>
  <div class="container"><slot></slot></div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  name: "Container"
});
</script>

<style scoped lang="scss">
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}
</style>
