<template>
  <div id="app">
    <ShortenLink />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import ShortenLink from "@/views/ShortenLink.vue";

export default Vue.extend({
  components: {
    ShortenLink,
  },
});
</script>

<style lang="scss">
@import "~normalize.css";

body {
  background-color: $obsidian;
  font-size: 18px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
  padding: 4rem 0;
}
h1 {
  font-size: 2rem;
  margin: 0 0 2rem 0;
  @media screen and (min-width: 600px) {
    font-size: 3rem;
  }
}
button,
input[type="text"] {
  height: 2.5rem;
  margin: 0;
  padding: 0 1rem;
  border: 0;
}
button {
  cursor: pointer;
  background-color: $blue;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
</style>
